@{
    ViewData["Title"] = "Detail";
}
@{
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
}
@model EducationModel

<h2>Eğitim Detayı</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <td><b>Eğitim Adı</b></td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td><b>Eğitim Açıklama</b></td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td><b>Eğitmen</b></td>
                <td>@Model.TeachersUserName</td>
            </tr>
            <tr>
                <td><b>Eğitim Videosu</b></td>
                <td>
                    <video width="360" height="320" controls="controls">
                        <source src="~/Videos/@Model.Link" type="video/mp4" />
                        Tarayıcınız video etiketini desteklemiyor.
                    </video>

                </td>
            </tr>
        </table>

        <a asp-action="Index" class="btn btn-outline-secondary">Geri Dön</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning">Düzenle</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Sil</a>

    </div>
</div>
